
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (request.auth.token.email == 'rraghabbarik@gmail.com');
    }

    match /students/{studentUid} {
      allow get: if true;
      allow list: if isAdmin();
      allow create: if isSignedIn() && request.auth.uid == studentUid || isAdmin();
      allow update: if isSignedIn() && request.auth.uid == studentUid || isAdmin();
      allow delete: if isAdmin();

      match /results/{resultId} {
        allow read: if true;
        allow write: if isAdmin();
      }
    }

    match /sessions/{sessionId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /attendance/{recordId} {
      allow read: if isSignedIn();
      allow create: if isAdmin() || (
        isSignedIn() 
        && request.resource.data.studentUid == request.auth.uid
        && request.resource.data.tokenUsed == get(/databases/$(database)/documents/sessions/$(request.resource.data.sessionId)).data.dynamicToken
      );
      allow update, delete: if isAdmin();
    }

    match /exams/{examId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /studyMaterials/{materialId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /notices/{noticeId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /support_inquiries/{inquiryId} {
      allow create: if true;
      allow read, write: if isAdmin();
    }

    match /settings/{settingId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
